.advantages {
  background-color: @silver;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
}

.advantages__list {
  margin: 0 auto;

  list-style: none;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.advantages__item {
  text-align: center;
}

.advantages__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: @black;
}

.advantages__item-description {
}
