.button {
  display: block;
  box-sizing: border-box;
  border: none;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--rounded {
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    line-height: 18px;
    background-color: transparent;

    @media (min-width: @desktop-width) {
      padding: 12px;
      font-size: 21px;
      line-height: 24px;
    }
  }

  &--pink {
    border-color: @pink;
    color: @pink;
  }

  &--pink:hover {
    color: @white;
    background-color: @pink;
  }

  &--pink:active {
    color: fade(@white, 30%);
    background-color: @pink;
  }

  &--gray {
    border-color: fade(@bg-color-header, 10%);
    color: @gray;
  }

  &--gray:hover {
    border-color: fade(@bg-color-header, 30%);
    color: fade(@bg-color-header, 30%);
  }

  &--gray:active {
    border-color: fade(@bg-color-header, 0%);
    color: fade(@white, 30%);
    background-color: fade(@bg-color-header, 30%);
  }
}
