.footer-logo {
  display: block;
  width: 146px;
  height: 40px;
  fill: @darkblue;

  &[href]:hover,
  &[href]:focus {
    color: @pink;
  }

  &[href]:active {
    fill: #283645;
    opacity: 0.3;
  }
}

.footer-logo__image {
  display: block;
  width: 146px;
  height: 40px;
  fill: #283645;

  &--tablet {
    display: none;
  }

  &[href]:hover,
  &[href]:focus {
    fill: #d22856;
  }

  @media (min-width: @desktop-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}
