.main-nav {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: transparent;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 25px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}


.main-nav__toggle {
  position: relative;
  display: none;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  color: @white;
  background-color: transparent;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
