.main-menu {
  .list-style();

  line-height: 32px;

  color: @white;

  border-top: 1px solid @black;
}

.main-menu__item {
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;
  text-align: center;
}

.main-menu__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  color: inherit;

  text-transform: uppercase;
  text-decoration: none;
}
