.page-header {
  position: relative;
  background-color: @bg-color-header;
  color: @white;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__nav-wrapper {
  background-color: @bg-color-header;
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header__store {
  margin: 0 auto;
}

.page-header__title-wrapper {
  min-height: 171px;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}



