.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__copyright-text {
  line-height: 18px;
}

.page-footer__copyright-link {
  color: @pink;
}

.page-footer__copyright-icon {
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
