.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    .container();
    padding-top: 35px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 68px;
    padding-bottom: 74px;
  }

  &--index {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.page-footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;

  @media (min-width: @tablet-width) {
    /*.container();*/
    justify-content: flex-end;
  }
}

.page-footer__links {
  .list-style();
}

.page-footer__copyright-text {
  margin-right: 17px;
  margin-top: 6px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-right: 16px;
    margin-top: 6px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin-top: 0;
  }
}

.page-footer__copyright-link {
  display: block;
  fill: @pink;
  height: 25px;

  &[href]:hover {
    fill: @darkblue;
  }

  &[href]:active {
    fill: fade(@darkblue, 30%);
  }
}

.page-footer__copyright-icon {
  display: block;
  width: 27px;
  height: 40px;

  @media (min-width: @tablet-width) {
    background-position: 0 10px;
  }
}
