.page-inner {
  /*.container();*/
}

.page-inner__title-wrapper {
  padding-top: 45px;
  padding-bottom: 34px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 92px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 50px;
  }
}

.page-inner__title {
  width: 235px;
  margin: 0 auto;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 440px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
  }

  &--page-form {
    width: 270px;

    @media (min-width: @tablet-width) {
      width: 490px;
    }

    @media (min-width: @desktop-width) {
      width: 720px;
    }
  }
}

.page-inner__form-feedback {
  margin: 0 auto;
}
