.social-links__link-twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.social-links__link-facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
}

.social-links__link-youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
}
