.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .list-style();

  padding-top: 39px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;
  }
}

.social-links__link {
  display: flex;
  width: 44px;
  height: 45px;
  border-width: 3px;
  border-style: solid;
  border-color: fade(@bg-color-header, 10%);
  border-radius: 50%;
  color: @pink;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    border-color: @bg-color-header;
  }

  &:active {
    border-color: fade(@bg-color-header, 40%);
    opacity: 0.3;
  }
}

.social-links__icon {
  &--twitter {
    padding-top: 15px;
    padding-left: 14px;
  }

  &--facebook {
    padding-top: 12px;
    padding-left: 17px;
  }

  &--youtube {
    padding-top: 16px;
    padding-left: 16px;
  }
}

.social-links__item {
  margin: 0 6px;

  @media (min-width: @tablet-width) {
    margin: 0 3px 0 9px;
  }

  @media (min-width: @desktop-width) {
    margin: 4px 0 0 12px;
  }
}
