.store {
  padding: 424px 20px 30px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.store__content {
}

.store__button {
  color: @white;
  border-color: @white;
}

.store__list {
}

.store__item {
}

.store__link {
}

.store__description {
  font-weight: 300;
  text-align: center;
}
