.store {
  padding: 424px 20px 30px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}

.store__list {
  .list-style();
}

.store__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-decoration: none;

  color: @white;
  border-color: @white;
}

.store__description {
  font-weight: 300;
  text-align: center;
}
