@white: #ffffff;
@silver: #f2f2f2;
@pink: #d22856;
@black: #000000;
@darkblue: #283645;
@green: #2aab6d;

@font-family-base: "Open Sans", "Arial", sans-serif;
@font-size-base: 14px;
@line-height-base: 24px;


@bg-color-header: @darkblue;
@bg-color-body: @white;

@font-color-base: @darkblue;

@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
